## Final Notebook
### Introduction
When trying to find the "best neighborhood" in Pittsburgh, our group decided upon safety as our metric. We all agreed that safety is a vital component to the quality of a neighborhood. 

### The Metric
Specifically for our metrics, we decided to look at non-traffic citations, firearm seizures, and monthly criminal activity. Before landing upon these metrics, some other metrics we were considering were air quality, landslide-prone areas, and fire incidents.

### The Best Neighborhood
According to all of our metrics combined, we decided that Chartiers is the best neighborhood. Chartiers has the lowest monthly average crime rate and thirtd-lowest total crimes reported since 2024. There has also been no firearm seizure incidents, and it's one of the few neighborhoods with the lowest amount of non-traffic citations. 

### Conclusion
**Abigail:**
The data-driven determination of the "best neighborhood" is different from my personal favorite neighborhood, Shadyside, which has a large number of citations. Despite it being less "safe," I love to go to Shadyside as a fun weekend outing, whether it's to eat, shop, or just walk around.

**AJ**
The data driven determination of the "best neighborhood" is completely different from my personal favorite neighborhood, the Strip District, despite the numerous amount of crimes reported there. Even though Chartiers is "safer," I've never heard or ever been there compared to Strip District which has all the shops I love going to, it's nice to walk around in, and I have extended family that live close to it. 

Reflect on how the data-driven determination of “best neighborhood” is the same or different from your personal favorite neighborhood. Each member of the group should write their own response to this.

## Graphs

In [3]:
import pandas as pd

monthly_avg_crime = pd.read_csv("/ihome/cmpinf0010_2025f/ajm698/Final-Project-Best-Pittsburgh-Neighborhood-/data/Five_Neighborhoods With The Lowest Crime_Monthly_Average.csv", low_memory=False)
year_crime = pd.read_csv("/ihome/cmpinf0010_2025f/ajm698/Final-Project-Best-Pittsburgh-Neighborhood-/data/Five_Neighborhoods_With_The_Lowest_Total_Crime_Through(2024-Sep2025).csv", low_memory=False)

In [4]:
monthly_avg_crime.head()

    Neighborhoods  Lowest5_Crime_Monthly_Avg
0       Chartiers                   3.166667
1       Ridgemont                   3.300000
2   Saint Clair\t                   3.571429
3   New Homestead                   5.400000
4  Swisshelm Park                   6.000000

In [5]:
year_crime.head()

         Neighborhoods  Lowest5_Total_Crime
0  Saint Clair                           25
1            Ridgemont                   33
2            Chartiers                   38
3        New Homestead                   54
4       Swisshelm Park                   66