In [2]:
import pandas as pd

%matplotlib inline

In [42]:
data = pd.read_csv("../data/firearm_seizures.csv", index_col="_id")

In [43]:
data.head()

,address,total_count,other_count,pistol_count,revolver_count,rifle_count,shotgun_count,year,month,dow,neighborhood,council_district,ward,tract,public_works_division,police_zone,fire_zone,latitude,longitude
_id,,,,,,,,,,,,,,,,,,,
1,"1700 BLOCK ARLINGTON AVE PITTSBURGH, PA 15210",2,0,1,1,0,0,2015,1,0,Mount Oliver Borough,3.0,0.0,4.200317e+10,0.0,3,4-6,40.417619,-79.986436
2,"BREVET WAY & MINTON ST PITTSBURGH, PA 15204",1,0,1,0,0,0,2015,1,0,Sheraden,2.0,20.0,4.200356e+10,5.0,6,1-16,40.456904,-80.052328
3,"TERRACE ST & WHITRIDGE ST PITTSBURGH, PA 15213",1,0,1,0,0,0,2015,1,0,Terrace Village,6.0,4.0,4.200305e+10,3.0,2,2-10,40.441185,-79.968527
4,"3500 BLOCK GERBER AVE PITTSBURGH, PA 15212",1,0,1,0,0,0,2015,1,0,Brighton Heights,1.0,27.0,4.200327e+10,1.0,1,1-14,40.479530,-80.033477
5,"7500 BLOCK KELLY ST PITTSBURGH, PA 15208",1,0,1,0,0,0,2015,1,0,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN

In [44]:
data.columns

Index(['address', 'total_count', 'other_count', 'pistol_count',
       'revolver_count', 'rifle_count', 'shotgun_count', 'year', 'month',
       'dow', 'neighborhood', 'council_district', 'ward', 'tract',
       'public_works_division', 'police_zone', 'fire_zone', 'latitude',
       'longitude'],
      dtype='object')

In [63]:
data["neighborhood"].unique()

city = data[data["neighborhood"].str.lower().str.strip() == "chartiers city"]

total = city.groupby("neighborhood")["total_count"].sum()

total

neighborhood
Chartiers City    4
Name: total_count, dtype: int64